In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading dataset 
data = pd.read_excel(r"C:\Users\USER\Downloads\iris.xls")

In [3]:
# fetching some details about the dataset

data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [4]:
data.tail()

      SL   SW   PL   PW  Classification
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [7]:
#CHECKING WHETHER THERE IS ANY RAW IS HAVING ZERO VALUE

data[ (data['SL']==0) | (data['SW']==0) | (data['PL']==0) | (data['PW']==0) ].index

Int64Index([], dtype='int64')

In [8]:
#CHECKINH ANY MISSING VALUES IN ALL COLUMNS

data.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [9]:
data.describe()

               SL          SW          PL          PW
count  143.000000  144.000000  144.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.828168    0.430644    1.761306    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [10]:
# FILLING THE MISSING VALUES WITH MEDIAN

SL_median = data['SL'].median()
data['SL'] = data['SL'].fillna(SL_median)

In [11]:

data.isna().sum()

SL                0
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [12]:
SW_median = data['SW'].median()
data['SW'] = data['SW'].fillna(SW_median)

In [13]:

data.isna().sum()

SL                0
SW                0
PL                6
PW                0
Classification    0
dtype: int64

In [14]:
PL_median = data['PL'].median()
data['PL'] = data['PL'].fillna(PL_median)

In [15]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [16]:
# STORING THE INDEPENDENT FEATURES INTO X
inp_cols = ['SL', 'SW', 'PL', 'PW']
x = data[inp_cols]

In [17]:
# STORING DEPENDENT FEATURES INTO Y
y = data['Classification']

In [18]:
# SPLITTING THE DATA INTO TRAIN AND TEST

from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train , y_test = train_test_split(x,y,test_size=0.25,
                                                    random_state=40)

In [20]:
# doing max scaling on the data
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
x_train.loc[:,inp_cols] = sc.fit_transform(x_train[inp_cols])
x_test.loc[:,inp_cols] = sc.fit_transform(x_test[inp_cols])

In [21]:
# applying linear regression on the train data and predicting using x_test

In [22]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [23]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [24]:
# FINDING CONFUSION MATRIX
confusion_matrix(y_test, y_pred)

array([[14,  0,  0],
       [ 0, 13,  0],
       [ 0,  0, 11]], dtype=int64)

In [25]:
accuracy_score(y_test, y_pred)

1.0

In [26]:
# K Neighbour classifier

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
accuracy_score(y_test,y_pred)

0.9736842105263158

In [28]:
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier

In [35]:
dt= DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
accuracy_score(y_test,y_pred)

0.9473684210526315

In [31]:
dt= DecisionTreeClassifier(max_depth=3)
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
accuracy_score(y_test,y_pred)

1.0

In [32]:
# RandomForest Classifier
from sklearn.ensemble import RandomForestClassifier

In [36]:
rf= RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)
accuracy_score(y_test,y_pred)

0.9473684210526315

### MY FINDINGS

In [34]:
# We got accuracy score of 1.0 in LogisticRegression 
# we got accuracy score of 0.9736842105263158 in K Neighbour classifier
# Got accuracy score of 0.9473684210526315 in Decision Tree Classifier
# Got accuracy score of 1.0 in Decision Tree Classifier with max_depth =9
# Got accuracy score of 0.9473684210526315 in Random Forest Classifier

# least accuracy score in  Decision Tree Classifier and  Random Forest Classifier. So they show less performance on this dataset
#  Decision Tree Classifier with max_depth =3 and LogisticRegression gives more accuracy score. So it has great performance -
#-   on this dataset
# Performance of classifiers are dataset dependent also depends on the  parameters selected in each classifier.
# Classifiers show different performance with different dataset.
# By changing the parameters of the classifier and by features selected we can change the performance of the classifier.